.buttonStyle{
    color:white;
    border:2px solid black;
    border-radius: 5px;
    background-color: green;

}

.buttonStyle:hover{
    color:yellow;
    border-radius: 8px;
    background-color: black;

}

